<% include ./partials/header %>
    <% include ../partials/navbar %>
        <div class="adminMain">

            <% include ./partials/adminnav %>

                <div class="adminBody">

                    <div class="row page-titles">
                        <div class="col-md-5 align-self-center">
                            <h3 class="text-themecolor">Categories</h3>
                        </div>
                        <div class="col-md-7 align-self-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0)">Admin</a>
                                </li>
                                <li class="breadcrumb-item active">categories</li>
                            </ol>
                        </div>

                    </div>
                    <div class="row" style="display: flex;justify-content: center;">
                        <a href="#" data-toggle="modal" data-target="#add-category" class="btn btn-lg btn rounded btn-primary" style="color:white;">Add Category</a>
                    </div>
<div class="col-md-5 align-self-center">
                            <h3 class="text-themecolor">All Categories</h3>
                        </div>



<div class="container">

                    <div class="row">

                        <% Cats.forEach((category) => { %>
                            <div class="col-sm-1 col-md-4 col-lg-4 col-xl-3">
                                <div class="card">
                                    <img class="card-img-top img-responsive" src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_250/c_crop,h_150,w_250/v1528538326/categories/<%= category.image.name %>"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <%= category.name %>
                                        </h4>

                                        <p class="card-text">
                                            <small class="text-muted"> Gallery Count
                                                <%= category.count.photos %>
                                            </small>
                                        </p>

                                        <div class="card-text">
                                            <a class="btn btn-xs btn-rounded btn-outline-success" href="/admin/category/<%= category._id %>"> More Info </a>
                                            <a class="btn btn-xs btn-rounded btn-outline-warning" href="/admin/category/<%= category._id %>/edit"> Edit </a>
                                            <a class="btn btn-xs btn-rounded btn-outline-danger" href="/admin/category/<%= category._id %>/edit"> Delete </a>
                                            
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <% }) %>



                    </div>
 </div>

                    <% include ./partials/categories/addCategory %>

                </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

        <script src="/js/jasny-bootstrap.js"></script>
        </body>

        </html>