<% include ./partials/header %>
    <% include ../partials/navbar %>
        <div class="adminMain">

            <% include ./partials/adminnav %>

                <div class="adminBody">

                    <div class="row page-titles">
                        <div class="col-md-5 align-self-center">
                            <h3 class="text-themecolor">Users</h3>
                        </div>
                        <div class="col-md-7 align-self-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0)">Admin</a>
                                </li>
                                <li class="breadcrumb-item active">Collections</li>
                            </ol>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row">
                            <% collections.forEach(col => {%>

                                <div class="card admin-collection-card">

                                    <a href="/collection/<%= col._id %>">
                                        <% if(col.content.images.length > 0){ %>
                                            <img style="width: 250px;" class="card-img-top img-responsive" src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_500/c_thumb,h_150,w_250/photos/<%= col.content.images[0].image.name %>"
                                                alt="">
                                            <% }else{ %>
                                                <img style="width: 250px;" class="card-img-top img-responsive" src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_500/c_thumb,h_150,w_250/addimage.jpg"
                                                    alt="">

                                                <% } %>
                                    </a>

                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <%= col.title %>
                                        </h4>
                                        <p class="card-text">
                                            <%= col.description %>
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">
                                                <%= col.created_on.toDateString() %>
                                            </small>
                                        </p>
                                        <p>
                                            <% if(col.status.featured){ %>
                                                <span class="label label-success">Featured</span>
                                                <% }  %>

                                                    <% if(col.status.approved){ %>
                                                        <span class="label label-info">Confirmed</span>
                                                        <% } else { %>
                                                            <span class="label label-warning"> Pending </span>
                                                            <% } %>
                                        </p>
                                        <p>
                                            <form action="" class="edit-collection ">
                                                <div>
                                                    Action
                                                    <i style="display: none;" class="fa fa-spin fa-spinner col-spinner-action"></i>
                                                </div>
                                                <div class="form-group">
                                                <select name="" class="action-collection custom-select col-12" data-id="<%= col._id %>">
                                                    <option selected="">Choose...</option>
                                                    <% if(col.status.featured){ %>
                                                        <option value="feature"> UnFeature </option>
                                                        <% }else{  %>
                                                            <option value="feature"> Make Featured </option>
                                                            <% }  %>

                                                                <% if(col.status.approved){ %>
                                                                    <option value="approve"> UnApprove </option>
                                                                    <% } else { %>
                                                                        <option value="approve"> Approve </option>
                                                                        <% } %>
                                                </select>
                                            </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>

                                <% }) %>
                        </div>
                    </div>
                </div>
        </div>

        <% include ./partials/footer %>