<% include ../partials/header %>
    <% include ../partials/navbar %>

        <div class="container-fluid body-items">
            <div class="row el-element-overlay gallery-100">

                <div class="col-md-12 gallery-title">
                    <div class="row">
                        <button type="button" id="sidebarCollapse" class="btn btn-info" data-toggle="modal" data-target="#add-collection">
                            <i class="fas fa-align-left"></i>
                            <span>Add New Collection</span>
                        </button>
                    </div>
                    <h4 class="card-title">My Colections</h4>
                </div>



                <div class="el-element-overlay collection-body">

                    <% collections.forEach(col => { %>

                        <div class="card collection-card">
                            <div class="el-card-item">

                                <div class="el-card-avatar el-overlay-1">
                                    <a href="/collection/<%= col._id %>" <% if(col.content.images.length === 0){ %> data-toggle="modal" data-target="#add-images-to-collection" <% }%>>
                                        <% if(col.content.images.length > 0){ %>
                                            <img src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_500/c_crop,h_150,w_300/v1530282904/photos/<%= col.content.images[0].image.name %>">
                                            <% }else{ %>
                                                <img src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_300/c_crop,h_150,w_300/v1530434542/addimage.jpg">
                                                <% } %>
                                    </a>
                                </div>

                                <div class="el-card-avatar el-overlay-1" style="display:  flex;">
                                    <a href="/collection/<%= col._id %>" <% if(col.content.images.length < 1){ %> data-toggle="modal" data-target="#add-images-to-collection" <% }%>>
                                        <% if(col.content.images.length > 1){ %>
                                            <img src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_200/c_crop,h_125,w_185/v1530275208/photos/<%= col.content.images[1].image.name %>"
                                                width="50%">
                                            <% }else{ %>
                                                <img src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_200/c_crop,h_125,w_185/addimage.jpg"
                                                    alt="">
                                                <% } %>
                                    </a>

                                    <a href="/collection/<%= col._id %>">
                                        <% if(col.content.images.length > 2){ %>
                                            <img src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_200/c_crop,h_125,w_185/v1530275208/photos/<%= col.content.images[2].image.name %>"
                                                width="50%">
                                            <% }else{ %>
                                                <img src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_200/c_crop,h_125,w_185/v1530434542/addimage.jpg">
                                            <% } %>
                                    </a>

                                </div>

                                <div class="el-card-content">
                                    <h4 class="collection-title">
                                        <%= col.title %>
                                    </h4>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>

                            <div class="collection-actions">
                                <a data-toggle="modal" data-target="#add-images-to-collection" href="#" class="btn btn-circle btn-lg btn-primary add-image-button"
                                    data-toggle="tooltip" title="add to collection">
                                    <input type="hidden" name="id" value="<%= col._id %>">
                                    <input type="hidden" name="title" value="<%= col.title %>">
                                    <i class="fa fa-plus">
                                    </i>
                                </a>

                                <a href="#" class="btn btn-circle btn-lg btn-warning" data-toggle="tooltip" title="edit collection">
                                    <i class="fa fa-minus"></i>
                                </a>
                                <a href="#" class="btn btn-circle btn-lg btn-danger" data-toggle="tooltip" title="delete collection">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>

                        </div>

                        <% }) %>
                </div>

                <% include ./partials/add-collection-model %>

                    <div class="modal fade bs-example-modal-lg" id="add-images-to-collection" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="title-of-collection">add media to </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <form action="/collection?_method=PUT" method="POST">
                                    <div class="modal-body" style="margin-bottom: 50px">

                                        <div id="collection-spinner" class="center-with-flex" style="">
                                            <i class="fa fa-spin fa-spinner" style="font-size: 100px"></i>
                                        </div>

                                        <div class="card collection-image-card" id="images-container">

                                        </div>

                                        <div class="collection-add-nav">
                                            <button id="prev-button" type="button" class="btn btn-secondary">
                                                <i class="fa fa-angle-double-left"></i>
                                                Previous Photos

                                            </button>
                                            <button id="next-button" type="button" class="btn btn-secondary">
                                                Next Photos
                                                <i class="fa fa-angle-double-right"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" name="images" id="submit-images">
                                        <input type="hidden" name="collection" id="submit-collection">
                                        <button id="submit-button" type="submit" class="btn btn-primary btn-block waves-effect text-left">
                                            add
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>


            </div>
        </div>


        <footer class="footer">
            © 2018 Ad Gallery
        </footer>
        <script src="/js/jquery-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
        <script src="/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
        <script src="/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
        <script>
            $(document).ready(function () {
                const collectionTitle = $('#title-of-collection')
                const addButton = $('.add-image-button')
                let selectedImages = []
                let currentCollection

                let skip = 0

                const Spinner = $('#collection-spinner')
                const imageContainer = $('#images-container')
                const nextButton = $('#next-button')
                const prevButton = $('#prev-button')
                const submitButton = $('#submit-button')
                const submitCollection = $('#submit-collection')
                const submitImages = $('#submit-images')

                function addImageCount(title) {
                    submitButton.html(`add ${selectedImages.length} images to ${title}`)
                }

                function fetchImages() {
                    if (skip === 0) {
                        prevButton.addClass('spinner-hide')
                    }
                    imageContainer.html(' ')
                    $.get(`/user/photos?skip=${skip}`, function (data) {
                        Spinner.addClass('spinner-hide')
                        //console.log('data length', data.length)
                        if (data.length < 9) {
                            nextButton.addClass('spinner-hide')
                        } else {
                            nextButton.removeClass('spinner-hide')
                        }

                        data.forEach(image => {
                            imageContainer.append(`<div class='el-card-item collection-item'><i style='display:none;' class='fa fa-check photo-check'></i><div class='el-card-avatar el-overlay-1'><a class='select-image' data-id='${image._id}'><img src='https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_300/c_crop,h_200,w_200/v1530026840/photos/${image.image.name}' alt='${image.title}'></a ></div ><div class='el-card-content collection-image-content'> <h4 class='box-title'>${image.image.name}</h4> <small> category : <strong>${image.category.name} <strong></small> <br> </div></div>`)
                        })
                        const images = $('.select-image')

                        images.click(function () {
                            console.log($(this).attr('data-id'))
                            $(this).parent().toggleClass('selected-image')
                            const check = $(this).parent().prev()
                            check.toggle()

                            const imageId = $(this).attr('data-id')

                            if (selectedImages.includes(imageId)) {
                                const index = selectedImages.indexOf(imageId)
                                console.log(index)
                                selectedImages.splice(index, 1)
                                submitImages.val(selectedImages)
                            } else {
                                selectedImages.push(imageId)
                                submitImages.val(selectedImages)
                            }
                            addImageCount(currentCollection)
                            console.log(selectedImages)
                        })

                        images.each(function () {
                            const imageId = $(this).attr('data-id')
                            if (selectedImages.includes(imageId)) {
                                $(this).parent().addClass('selected-image')
                            }
                        })

                    })
                }

                //WHEN ADD BUTTON IS CLICKED
                addButton.click(function () {
                    const modalTitle = $(this).find("input[name='title']").val()
                    currentCollection = modalTitle

                    const colId = $(this).find("input[name='id']").val()
                    submitCollection.val(colId)

                    collectionTitle.html(`add media to ${modalTitle}`)

                    if (skip > 0) {
                        skip = 0
                        Spinner.removeClass('spinner-hide')
                        return fetchImages()
                    }

                    if (imageContainer.children().length > 0) {
                        return
                    }
                    fetchImages()
                })

                //nextbutton function
                nextButton.click(function () {
                    Spinner.removeClass('spinner-hide')
                    skip = skip + 10
                    prevButton.removeClass('spinner-hide')
                    fetchImages()
                })

                //previous button function
                prevButton.click(function () {
                    Spinner.removeClass('spinner-hide')
                    skip = skip - 10
                    fetchImages()
                })



            });
        </script>

        </body>

        </html>