<div class="photo-edit-card m-b-40">
    <div class="row">
        <div class="col-3">
            <img src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_500/c_crop,h_200,w_300/v1529228345/photos/<%= photo.image.name %>"
                alt="editable">
        </div>
        <div class="col-9">
            <div class="card-body m-l-40">

                <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Media Title</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" value="<%= photo.title %>" id="example-text-input" name="<%= photo._id %>[title]">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Category</label>
                    <div class="col-md-10">
                        <select class="custom-select col-12" id="inlineFormCustomSelect" name="<%= photo._id %>[category]">
                            <option value="<%= photo.category._id %>"> <%= photo.category.name %></option>
                            <% categories.forEach(cat => { %>
                                <% if(cat._id.toString() === photo.category._id.toString()) { return } %>
                                
                                <option value="<%= cat._id %>">
                                    <%= cat.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="5" name="<%= photo._id %>[description]" placeholder="description"><%= photo.description %></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Tags</label>
                    <div class="col-md-10">
                        <input name="<%= photo._id %>[tags]" type="text" value="<%= photo.tags %>" data-role="tagsinput" placeholder="add tags.." style="display: none;">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>